.nav,
.auth {
  font-family: monospace;
  font-size: large;
  display: inline-block;
  margin-right: 2em;
  color: blueviolet;
  text-decoration: none;
}

.nav-wrapper {
  margin-top: 40px;
  padding-left: 0px;
}

.nav-img {
  width: 4em;
  vertical-align: middle;
}

.active-link {
  background: antiquewhite;
}

.nav-auth {
  display: inline-block;
  margin-left: 70px;
}

.auth {
  margin-right: 1em;
}

.nav-user {
  color: palegoldenrod;
  font-family: monospace;
  font-size: small;
  display: inline-block;
  margin-right: 1.5em;
}
