.nav,
.auth {
  font-family: monospace;
  font-size: large;
  display: inline-block;
  margin-right: 2em;
  color: blueviolet;
  text-decoration: none;
}

.nav-wrapper {
  align-items: center;
  margin-top: 40px;
}

.nav-img {
  width: 4em;
  position: relative;
  top: 10px;
  right: 25px;
}

.active-link {
  background: antiquewhite;
}

.nav-auth {
  display: inline-block;
  margin-left: 70px;
}

.auth {
  margin-right: 1em;
}

.nav-user {
  color: palegoldenrod;
  font-family: monospace;
  font-size: small;

  display: inline-block;
  margin-right: 1.5em;
}
