.hidden {
    display: none;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.card {
    margin: 10px;
}

.navbar {
    margin-bottom: 10px;
}

.row {
    margin: 2px;
}

.add-form {
    width: 462px;
    margin: 15px;
}

.up-down-edit {
    margin-right: 5px;
}