.film-ul{
    font-family: monospace;
    font-size: large;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    padding-left: 0px;
    
}

.film-link{
    display: block;
    color: antiquewhite;
    margin: 25px;
    text-decoration: none;
    border: 2px solid antiquewhite;
    width: 400px;

}
