.film-ul {
    font-family: monospace;
    font-size: large;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    padding-left: 0px;

}

.film-link {
    display: block;
    color: antiquewhite;
    margin: 25px;
    text-decoration: none;
    border: 2px solid antiquewhite;
    width: 400px;

}

.film-wrap{
    font-family:monospace;
    border: 6px solid  rgb(54, 3, 103);
    border-radius: 222px;
    width: 1200px;
    margin: 50px auto;
}


.card-wrap{
    vertical-align: middle;
    display: inline-block;
}

.img-wrap{
    width: 50%;
    vertical-align: middle;
    display: inline-block;
    padding-left: 106px;
}

.comments-link {
    background-color: #282c34;
    border: 2px solid blueviolet;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
    margin: 20px auto;
    text-decoration: none;
    font-family:monospace;

}

.comments-wrap{
    font-family:monospace;
    border: 6px solid  rgb(54, 3, 103);
    border-radius: 222px;
    width: 1000px;
    margin: 50px auto;
    text-align: start;
}

.add-comments{
    display: block;
    text-align: end;
    padding-right: 30px;
  
}

.view-comments, h4{
    display: block;
    text-align: start;
    padding-left: 30px;


}

.comment-button {
    background-color: #282c34;
    border: 2px solid blueviolet;
    color: white;
    padding: 2px 7px;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px auto;
}

.input{
    margin: 2px;
    border-radius: 9px;
}